// Color
$color-primary: #3C3C3C;
$color-second: #FF4F41;
$color-title: #000000;
$color-hover: #FF4F41;
$color-white: #ffffff;

// Background
$background-primary: #FF4F41;
$background-hover: #000000;
$background-second: #C9C9C9;
$background-second-hover: #FF4F41;

// Border color
$border-color: #FF4F41;
$border-color-second: #E4E4E4;