/* Button Modal Form */

.element-btn-modal-form {
  .btn {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 12px;
    padding: 12px 16px;
    @include border-radius();
    background-color: $background-primary;
    @include transition();

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: $background-hover;
    }
  }

  .note {
    font-size: 16px;
    color: $color-second;

    &__text {
      color: #ffffff;
    }
  }

  .modal {
    .modal-header {
      border-bottom-width: 0;
      @include align-items(flex-start);

      .btn-close {
        font-size: 16px;
        padding: 0;
        margin: 0;
      }

      .note {
        &__text {
          color: $color-primary;
        }
      }
    }
    .modal-footer {
      text-align: center;
      @include justify-content(center);

      a {
        color: $color-second;

        &:hover {
          color: $color-title;
        }
      }
    }
  }
}