/* Student Product Grid */
.element-student-product-grid {
  .col {
    margin-bottom: 30px;
  }

  .item {
    padding: 12px 16px 20px;
    border-radius: 4px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;

    &__thumbnail {
      margin-bottom: 12px;

      a {
        position: relative;
        display: block;
        height: 277px;
        overflow: hidden;
      }

      img {
        top: 0;
        width: 100%;
        height: auto;
        transform: translateY(0px);
        @include transition(all 4s);
      }
    }

    &__title {
      margin-bottom: 8px;
      font-size: 15px;
      text-transform: uppercase;

      a {
        color: $color-title;

        span {
          color: $color-primary;
          @include transition();
        }

        &:hover {
          color: $color-hover;

          span {
            color: $color-hover;
          }
        }
      }
    }

    &__info {
      .info-student {
        font-size: 13px;

        i {
          text-align: center;
          color: #9F9F9F;
          font-size: 11px;
          width: 17px;
          margin-right: 4px;
        }
      }
    }

    &:hover {
      .item__thumbnail {
        img {
          transform: translateY(calc(-100% + 277px));
        }
      }
    }
  }

  .item-hidden {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
  }

  .btn-link {
    position: relative;
    margin-top: 16px;
    text-align: center;

    a {
      display: inline-block;
      padding: 10px 16px;
      text-decoration: none;
      color: $color-title;
      border: 1px solid $color-title;

      &:hover {
        color: #ffffff;
        background-color: $background-hover;
      }
    }

    .spinner-box {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      visibility: hidden;
      @include transform(translateX(-50%) translateY(-50%));
      @include transition();
    }

    &.active-load {
      pointer-events: none;

      .spinner-box {
        opacity: 1;
        visibility: visible;
      }

      a {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}