/* Student Product Detail */
.element-student-product-detail {
  .product-featured-image {
    position: relative;
    margin-bottom: 30px;

    .scrollbar-inner {
      overflow: hidden;

      > .scroll-element {
        &.scroll-y {
          width: 4px;
          background-color: #E9E9E9;
        }

        .scroll-bar {
          height: 200px;
          background-color: #969696;
        }

        .scroll-element_outer {
          border-radius: 0;
        }
      }

      @media ( min-width: 992px ) {
        height: 700px;
      }

      @media ( min-width: 476px ) {
        padding: 0 24px;
      }

      @media ( max-width: 475px ) {
        margin-bottom: 16px;
      }
    }

    .student-info {
      .name {
        font-size: 18px;

        strong {
          display: block;
        }

        &__student {
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }

      .course {
        a {
          font-size: 16px;
          font-weight: 500;
        }
      }

      @media ( min-width: 476px ) {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 0;
        height: 125px;
        padding: 0 27px 24px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);

        .name {
          strong {
            margin-bottom: 6px;
            color: #ffffff;
          }

          &__student {
            color: yellow;
          }
        }

        .course {
          a {
            color: #ffffff;

            &:hover {
              color: $color-hover;
            }
          }
        }
      }

      @media ( max-width: 485px ) {
        .name {
          margin-bottom: 12px;

          strong {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  .product-gallery {
    position: relative;

    &__slider {
      position: relative;

      &:after {
        display: table;
        clear: both;
        content: "";
      }
      @media ( min-width: 768px ) {
        width: 575px;
        margin: 0 auto;
      }

      .item {
        height: 110px;
        cursor: pointer;
        overflow: hidden;
        padding: 12px 16px 20px;
        border: 2px solid transparent;
        background-color: #ffffff;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
        @include border-radius(4px);
        @include transition();

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.view-product,
        &:hover {
          border-color: #E2E2E2;
        }
      }

      .link-post {
        i {
          font-size: 20px;
          color: $color-second;
        }

        span {
          display: block;
        }

        @media ( min-width: 992px ) {
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));

          &.prev-post {
            left: -160px;
            text-align: right;
          }

          &.next-post {
            right: -160px;
          }
        }

        @media ( max-width: 991px ) {
          margin-top: 10px;

          &.prev-post {
            float: left;
          }

          &.next-post {
            text-align: right;
            float: right;
          }
        }
      }
    }
  }
}