@font-face {
  font-family: SFProDisplay;
  font-weight: 300;
  font-display: fallback;
  src: url('fonts/SFProDisplay/SF-Pro-Display-Thin.otf');
}

@font-face {
  font-family: SFProDisplay;
  font-weight: 400;
  font-display: fallback;
  src: url('fonts/SFProDisplay/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: SFProDisplay;
  font-weight: 500;
  font-display: fallback;
  src: url('fonts/SFProDisplay/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: SFProDisplay;
  font-weight: 600;
  font-display: fallback;
  src: url('fonts/SFProDisplay/SF-Pro-Display-Semibold.otf');
}

@font-face {
  font-family: SFProDisplay;
  font-weight: 700;
  font-display: fallback;
  src: url('fonts/SFProDisplay/SF-Pro-Display-Bold.otf');
}

* {
  outline: none !important;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.4em;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  color: $color-primary;
  font-family: $font-family;
  word-break: break-word;
  @include flexbox();
  @include flex-direction(column);
}

.sticky-footer {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-title;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition();

  &:hover {
    color: $color-hover;
  }
}

p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}

.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}

.custom-row {
  margin-left: -10px;
  margin-right: -10px;
}

.custom-col {
  padding-left: 10px;
  padding-right: 10px;
}

#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}

#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 30px;
  z-index: 1000;
  @include transition();

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }

  &.active_top {
    opacity: 1;
    bottom: 15px;
  }

  &:hover {
    background-color: $background-primary;
  }
}

/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    color: #ffffff;
  }

  &.item-facebook {
    background-color: #3b5998;
  }

  &.item-twitter {
    background-color: #1da1f2;
  }

  &.item-youtube {
    background-color: #cd201f;
  }

  &.item-instagram {
    background-color: #e4405f;
  }
}

.social-network-toTopFromBottom {
  .social-network-item {
    overflow: hidden;

    &:hover {
      i {
        -webkit-animation: toTopFromBottom 0.4s forwards;
        -moz-animation: toTopFromBottom 0.4s forwards;
        animation: toTopFromBottom 0.4s forwards;
      }
    }
  }
}

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-next,
      &.owl-prev {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 15px !important;
        background-color: $background-hover;
        @include border-radius(5px);
        @include transition();

        &:hover {
          background-color: #333333;
        }
      }

      i.fa {
        color: #ffffff;
        font-size: 20px;
        line-height: inherit;
        @include transition();
      }
    }
  }

  .owl-dots {
    margin-top: 30px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 8px;
        height: 8px;
        background-color: $background-second;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out);
      }

      &.active,
      &:hover {
        span {
          background-color: $background-second-hover;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    @include flexbox();

    .owl-item {
      @include flexbox();
      @include flex(1 0 auto);
    }
  }
}

/* Breadcrumbs */
.breadcrumbs {
  .breadcrumbs-col {
    padding: 15px 0;
    color: #9F9F9F;

    > span {
      color: $color-primary;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &:not(:first-child) {
        margin-left: 6px;
      }
    }

    a {
      color: #9F9F9F;

      &:hover {
        color: $color-hover;
      }
    }
  }
}

/* Reset Elementor */
.elementor-widget-text-editor {
  ul {
    padding-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.link-box {
  font-size: 12px;
  color: $color-second;
  padding: 6px 16px;
  display: inline-block;
  border: 1px solid $border-color;
  @include border-radius(2px);

  &:hover {
    color: #ffffff;
    background-color: $background-primary;
  }
}

/* Custom Modal */
.modal {
  &.modal-theme {
    .modal-content {
      padding: 28px 40px;
    }

    .modal-header {
      margin-bottom: 16px;
      padding: 0;
      border-bottom-width: 0;
      @include align-items(flex-start);

      .modal-title {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      .btn-close {
        font-size: 16px;
        padding: 0;
        margin: 0;
      }

      .note {
        &__text {
          color: $color-primary;
        }
      }
    }

    .modal-body {
      padding: 0;

      .action-btn {
        position: relative;

        .wpcf7-submit {
          display: block;
          width: 100%;
        }

        .wpcf7-spinner {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: 0;
          @include transform(translateX(-50%) translateY(-50%));
        }
      }
    }

    .modal-footer {
      text-align: center;
      border-top-width: 0;
      @include justify-content(center);

      a {
        color: $color-second;

        &:hover {
          color: $color-title;
        }
      }
    }
  }
}

.btn-theme {
  color: #ffffff;
  font-size: 14px;
  line-height: 1em;
  padding: 14px 26px;
  @include border-radius();
  background-color: $background-primary;
  @include transition();

  &:hover {
    color: #ffffff;
    background-color: $background-hover;
  }
}

/* Chat */
.chat-zalo {
  position: fixed;
  right: 36px;
  bottom: 166px;
  z-index: 2;

  a {
    display: block;
  }
}