.search-form {
  font-size: 12px;
}

.search-field {
  border: 1px solid $border-color;
  height: auto;
  padding: 9px 10px;
  @include border-radius();
  @include box-shadow(none);
}

.search-submit {
  background-color: $color-hover;
  color: #fff;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  @include border-radius();
  @include transition();
}

.widget {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .widget-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a {
        display: block;
      }

      ul {
        &.children,
        &.sub-menu {
          padding-left: 15px;
          padding-top: 10px;

          li {
            border-bottom: 0;
            padding: 0 0 10px;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  select {
    width: 100%;
    padding: 9px 10px;
    font-size: 12px;
  }

  &.widget_search {
    .search-form {
      @include flexbox();

      .search-field {
        @include flex(1 auto);
      }

      .search-submit {
        margin-left: 10px;
      }
    }
  }

  &.widget_archive,
  &.widget_categories {
    ul {
      li {
        a {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

  &.widget_calendar {
    table {
      width: 100%;

      caption {
        padding: 0;
        margin-bottom: 15px;
        text-align: center;
      }

      tr {
        border-bottom: 1px solid $border-color;

        th {
          text-align: center;
        }

        td {
          padding: 5px 0;
          text-align: center;

          &#today {
            background-color: $background-hover;
            color: #ffffff;

            a {
              color: #ffffff;
            }
          }

          &#prev {
            text-align: left;
          }

          &#next {
            text-align: right;
          }
        }
      }
    }
  }

  &.widget_rss {
    ul {
      li {
        padding-bottom: 20px;
        margin-bottom: 20px;

        .rssSummary {
          font-size: 12px;
        }
      }
    }
  }

  &.widget_tag_cloud,
  &.widget_product_tag_cloud {
    .tagcloud {
      a {
        display: inline-block;
        font-size: 13px !important;
        border: 1px solid #eee;
        padding: 5px 10px;
        margin: 0 2px 5px;

        &:hover {
          background-color: $background-hover;
          color: #ffffff;
          border-color: $background-hover;
        }
      }
    }
  }

  .social-network-item {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    @include border-radius(50%);
  }

  .post_widget_warp {
    .post_widget__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .item-image {
        width: 110px;
        @include flex(0 0 auto);
      }

      .item-content {
        padding-left: 15px;
      }

      .item-title {
        font-size: 14px;
        margin-bottom: 10px;
        overflow: hidden;
      }

      .item-meta {
        font-size: 12px;

        i.fa {
          margin-right: 5px;
        }
      }
    }
  }

  .textwidget {
    p {
      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }

    .tnp-subscription {
      position: relative;
      margin: 0;

      br {
        display: none;
      }

      input[type="email"] {
        font-size: 14px;
        color: #B1B1B1;
        background-color: #ffffff;
        border-color: transparent;
        @include border-radius();
        @include box-shadow(0px 0px 30px rgba(0, 0, 0, 0.05));
      }

      .tnp-field-button {
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        color: #ffffff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $background-primary;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include transition();

        &:after {
          content:"\f054";
          font-weight: 900;
          font-family: $font-icon
        }

        &:hover {
          background-color: $background-hover;
        }

        input {
          padding: 0;
          width: 100%;
          height: 100%;
          font-size: 0;
          border-color: transparent;
          background-color: transparent;
        }
      }
    }
  }
}
