.main-navigation {
  background-color: #ffffff;
  @include box-shadow(0 3px 3px -3px rgba(0, 0, 0, 0.3));

  .site-navbar {
    position: relative;
  }

  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.site-logo {
  @include flex(0 0 auto);

  a {
    display: inline-block;
    padding: 19px 0 22px;
  }
}

.site-menu {
  @include flex(1);

  > ul {
    > li {
      > a {
        padding: 0 12px;
        color: $color-title;
        font-weight: 600;
      }

      &.current-menu-item {
        > a {
          color: $color-hover;
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;

      a {
        text-shadow: none;
        display: block;
        font-size: 14px;

        &:hover {
          background-color: transparent;
          color: $color-hover;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
        }
      }

      .sub-menu-toggle {
        &:after {
          @include transition();
        }
      }

      .sub-menu {
        padding: 16px 20px;

        li {
          padding: 0 0 14px;
          display: block;

          a {
            white-space: nowrap;
          }

          .sub-menu {
            left: 90%;
            top: -1px;
          }

          &:hover {
            > .sub-menu {
              left: 100%;
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.sub-menu-toggle {
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free', serif;
    font-style: normal;
    font-weight: 900;
  }
}

.btn-advice {
  &__box {
    padding: 14px 24px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    line-height: 1em;
    border-radius: 3px;
    background-color: $background-primary;
    @include transition();

    &:hover {
      background-color: $background-hover;
    }

    span {
      display: inline-block;
      margin-left: 9px;
    }
  }
}