.site-footer {
  section {
    &.widget {
      margin-bottom: 15px;
    }
  }
}

.site-footer {
  &__multi--column {
    padding: 30px 0;
  }

  &__copyright {
    padding: 10px 0;
    border-top: 1px solid $border-color-second;

    p {
      &:last-child {
        margin: 0;
      }
    }

    a {
      color: $color-hover;
    }
  }
}