.site-single-course {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }

  .entry-content {
    margin-bottom: 32px;
  }

  .breadcrumbs {
    .breadcrumbs-col {
      padding-bottom: 35px;
    }
  }

  .element-menu-post-type {
    max-width: 780px;
    margin: 0 auto;
  }
}